@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.badge {
  display: inline-block;
  height: 24px;
  width: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  &-primary {
    background-color: $primary-color;
    color: $white;
  }
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-secondary;
  margin-bottom: 12px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $blue-color;
  margin: 0 0 8px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $blue-color;
  margin: 0;
}
