@import "../../styles/variable";

.listing_card {
  display: flex;
  align-items: flex-start;
  padding: 24px 0;
  border-bottom: 1px solid $grey;
  &_wrap {
    align-items: flex-start;
  }
  &_title {
    display: flex;
    align-items: center;
    h4 {
      margin-left: 12px;
    }
  }
  &_content {
    p {
      margin: 0 0 12px;
      font-size: 16px;
    }
  }
}
