@import "../../styles/variable";

.card {
  border: 1px solid $aqua-blue-color;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  overflow: hidden;
  text-align: left;
  &_img {
    position: relative;
    .tag {
      position: absolute;
      top: 12px;
      right: 12px;
      left: auto;
      z-index: 1;
    }
  }
  &_img_caption {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: -31px;
    position: relative;
    padding: 0 4px;
  }
  &_content {
    padding: 16px 12px 0;
    text-align: left;
  }
  &_bottom {
    background-image: url(../../assets/images/Wave.png);
    background-size: cover;
    padding: 20px 12px;
    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 8px;
      color: $grey;
    }
    p {
      color: $grey;
      margin: 0 0 35px;
    }
    .link {
      text-align: right;
      a {
        color: $aqua-blue-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
